* {
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    font-weight: normal;
    margin: 0;
    padding: 0;
}

body {
    padding: 2em;
}

a,
button {
    padding: none;
    margin: none;
    text-decoration: none;
    border: none;
    background-color: none;
}

li {
    list-style-type: none;
}

input,
textarea {
    padding: 1rem 1rem;
    border: var(--border);
    border-radius: var(--border-radius);
}