.link-account,
.link-logout,
.link {
    padding: 1em;
    border: none;
    border-radius: var(--border-radius);
}

.link-account:hover,
.link-logout:hover,
.link:hover {
    background-color: var(--background-color-hover);
    border-color: var(--border-color-hover);
    border: var(--border);
}

.link {
    padding: 1em 2em;
}



.label-container {
    margin-right: 1em;
}

.error {
    color: red;
}