/* .link,
.btn {
    color: var(--white);
    text-decoration: none;
    padding: 1em 2em;
    border-radius: var(--border-radius);
    display: inline-block;
    background-color: var(--header);
} */

.btn {
    padding: 1em 2em;
    margin: 0;
    border: none;
    color: white;
    background-color: var(--header);
    border-radius: var(--border-radius);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-update {
    text-align: center;
    margin-top: 2em;
    width: 100%;
}

.link-account,
.link-logout,
.link {
    padding: 1em;
    border: none;
    border-radius: var(--border-radius);
}

.link-account:hover,
.link-logout:hover,
.link:hover {
    background-color: var(--background-color-hover);
    border-color: var(--border-color-hover);
    border: var(--border);
}


.link {
    padding: 1em 2em;
}

.btn:hover {
    background-color: #021659;
}

/* .input-container {
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--white);
    padding: 1em;
    margin-left: auto;
    background-color: white;
} */

.section-form {
    width: 80vh;
    margin: auto;
    justify-content: center;
    border-radius: var(--border-radius);
    padding: 1em;
}

.content-h1 {
    text-align: center;
    color: var(--font-color);
}

.label-container {
    margin-right: 1em;
}

.div-input {
    display: flex;
    align-items: center;
}

.error {
    color: red;
}

/* .btn-submit {
    width: 100%;
    background-color: var(--header);
    text-align: center;
} */

/* 

.btn-close {
    background-color: var(--red);
}

.btn-save {
    background-color: var(--green);
}

.btn-logout {
    background-color: none;
} */