.section-form {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-submit {
    width: 100%;
    margin-bottom: 1em;
}

.div-input {
    display: flex;
    align-items: center;
}

.content-h1 {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--font-color);
}

.input-container {
    width: 100%;
}

.alert {
    display: flex;
    margin: 1em auto;
    padding: 1em 1em;
    width: fit-content;
    text-align: center;
    color: var(--white);
    background-color: var(--header);
    border-radius: var(--border-radius);
}