.section-form {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert {
    width: fit-content;
    text-align: center;
}

.hide {
    visibility: hidden;
}

.btn-submit {
    width: 100%;
    margin-bottom: 1em;
}