.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.div-welcome {
    text-align: right;
}

@media only screen and (max-width: 1280px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        margin-bottom: 2em;
    }

    .div-btn {
        width: 50%;
        gap: 2em;
        flex-direction: row;
        justify-content: center;
        display: flex;
    }

}

@media only screen and (max-width: 935px) {
    .div-btn {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 80%;
    }
}

@media only screen and (max-width: 581px) {}