/** ::::::::::::::::::::::::::::::::::::::::::: MAIN ::::::::::::::::::::::::::::::::::::::::::: */
.add-note-form>input {
    margin-right: 1em;
    padding: 1em;
    height: 2em;
    width: 90%;
    border-color: rgb(182, 179, 179);
    border-radius: var(--border-radius);
    background-color: #eae8e8;
}

.add-note-form {
    display: flex;
    margin: 1em 1em;
    /* justify-content: space-between; */
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}


.table-td {
    padding: 1em 2em;
}


.table-td-width {
    width: 1em;
}

.table-tr:hover {
    background-color: #f1f1f1;
}

.table-td:first-child {
    border: 0.1em solid rgb(192, 189, 189);
    border-right: none;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.table-td:nth-child(2) {
    border: 0.1em solid rgb(192, 189, 189);
    border-right: none;
    border-left: none;
}

.table-td:last-child {
    border: 0.1em solid rgb(192, 189, 189);
    border-left: none;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}